/* Variables */
:root {
  --parentBg: #ffffff;
  --color: #2c365e;
  --bg: #70b4e0;
  --border: #35a0b1;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: var(--color);
  background-color: var(--parentBg);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Utility classes */
#container {
  display: flex;
  flex-direction: column;
}

.main-section {
  display: flex;
  flex-direction: inherit;
  height: 100vh;
}

.btn {
  display: inline-block;
  color: var(--parentBg);
  background: var(--bg);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  color: var(--parentBg);
  background: #479ad1;
}

.answer-op div:hover {
  background: #c2e7ff;
  cursor: pointer;
}

/* Header */
.header-content {
  display: flex;
  flex-direction: column;
  height: 8.5rem;
  overflow: hidden;
}

.header-content div {
  align-items: center;
  padding: 0.5rem 1rem 0rem;
}

.header-content h1 {
  font-size: 1.3rem;
  font-weight: 800;
}

.header-content h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

.header-content .initial-text {
  font-size: 2rem;
}

.header-content ul li span {
  letter-spacing: 0.25rem;
}

/* Mid-content */
.mid-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 40rem;
  text-align: center;
}

.mid-content div {
  display: flex;
  flex-direction: column;
}

.mid-content h1 {
  font-size: 1.8rem;
  margin: 0 3rem;
}

.mid-content p {
  font-size: 1.2rem;
}

.mid-content div .answer-op {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1.2rem 0rem 0rem 0rem;
}

.mid-content div .answer-op div {
  padding: 0 1.5rem;
}

.mid-content div > i {
  padding: 0.5rem 0;
}

.mid-content .btn-div {
  display: block;
  margin: 4rem 0rem 0rem 0rem;
}

/* Selección de trámites página 2 */
.mid-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0 0;
}

.mid-container div {
  padding: 0rem 3rem 0rem 0rem;
  text-align: left;
}

.mid-container div h2 {
  font-size: 1.3rem;
}

.mid-container div ul {
  display: flex;
  flex-direction: row;
}

.mid-container div ul li {
  padding: 0.5rem 0rem 0rem 0rem;
}

.mid-container ul:nth-child(2),
.mid-container ul:last-child {
  display: flex;
  flex-direction: column;
}

.mid-container div:last-child {
  padding: 0;
}

/* Comentarios página 7 */
.mid-content div .coment-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0 0 0;
}

.mid-content div .coment-text textarea {
  width: 50%;
  height: 100px;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

/* Footer */
.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  overflow: hidden;
}

.footer-section div {
  display: flex;
  flex-direction: row;
}
.footer-section div ul {
  display: flex;
  padding: 0 1rem;
}
.footer-section div ul li {
  padding: 0 0.5rem;
}

footer p {
  font-size: 0.8rem;
}

/* Media for tablet 1920x1200 */
