/* VARIABLES */
:root {
  /* Main color */
  --bgColor: #ffffff;
  --textColor: #2c365e;
}

/* UTILITIES */
/* List answer color */
.ansRed {
  color: #e74c3c;
}
.ansCarr {
  color: #e67e22;
}
.ansYell {
  color: #f1c40f;
}
.ansEme {
  color: #27ae60;
}
.ansGre {
  color: #16a085;
}

/* Margin */
.m {
  margin: 1.2rem;
}
.mt {
  margin: 2rem 0 0 0;
}
.mr {
  margin: 0 2rem 0 0;
}
.mx {
  margin: 0 1.2rem;
}
.my {
  margin: 1.2rem 0;
}
/* Padding */
.pt {
  padding-top: 1rem;
}
.pr {
  padding-right: 1rem;
}
.pb {
  padding-bottom: 0.2rem;
}
.pl {
  padding-left: 1rem;
}
.px {
  padding: 0 1rem;
}
.py {
  padding: 1rem 0;
}

/* Typography */
.title-1 {
  font-size: 1.8rem;
}
.title-2 {
  font-size: 1.6rem;
}
.title-3 {
  font-size: 1.4rem;
}
.title-4 {
  font-size: 1.2rem;
}
.text-1 {
  font-size: 1.2rem;
}
.text-2 {
  font-size: 0.8rem;
}
.text-3 {
  font-size: 0.4rem;
}
.text-space {
  letter-spacing: 0.2rem;
}
.typo-bold {
  font-weight: 600;
}
.typo-midBold {
  font-weight: 400;
}

/* Center elements */
.content-center {
  justify-self: center;
  align-self: center;
}

/* GENERAL */
body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: var(--textColor);
  background-color: var(--bgColor);
}

.page-container {
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  height: 100vh;
}

/* COMPONENTS */
/* Button */
.btn {
  --btnBgColorPrimary: #3498db /* #70b4e0 */;
  --btnBgColorSecondary: #2980b9 /* #479ad1 */;

  display: inline-block;
  color: var(--bgColor);
  background: var(--btnBgColorPrimary);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  color: var(--bgColor);
  background: var(--btnBgColorSecondary);
}

/* HEADER SECTION */
.header-content {
  display: block;
}

/* MIDDLE CONTENT */
.mid-content {
  display: grid;
  grid-auto-rows: auto;
  text-align: center;
}

/* Dropdown menu */
.dropdown-select {
  border: 1px solid var(--textColor);
  border-radius: 5px;
  padding: 1.2rem;
}

.dropdown-select label,
select {
  display: block;
  text-align: left;
}

select {
  height: 28px;
  font-size: medium;
  color: var(--textColor);
}

/* List answer */
.answer-op div:hover {
  background: #c2e7ff;
  cursor: pointer;
}

.mid-content div .answer-op {
  display: flex;
  justify-content: space-around;
}

/* Message section */
.content-text {
  display: block;
  margin: auto;
}

.content-text textarea {
  width: 50%;
  margin: 3rem 0 0 0;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  text-align: center;
  padding: 1.5rem;
}

/* FOOTER */
.footer-content div {
  display: flex;
  flex-direction: row;
}
.footer-content div ul {
  display: flex;
}
.footer-content div ul li {
  padding: 0 0.5rem;
}

footer p {
  font-size: 0.8rem;
}

/* Media for tablet 1920x1200 */
