/* VARIABLES */
:root {
  /* Main color */
  --bgColor: #ffffff;
  --textColor: #2c365e;
}

/* UTILITIES */
/* Padding */
.pt {
  padding-top: 1rem;
}
.pr {
  padding-right: 1rem;
}
.pb {
  padding-bottom: 1rem;
}
.pl {
  padding-left: 1rem;
}
.px {
  padding: 0 1rem;
}
.py {
  padding: 1rem 0;
}

/* Typography */
.title-1 {
  font-size: 1.8rem;
}
.title-2 {
  font-size: 1.6rem;
}
.title-3 {
  font-size: 1.4rem;
}
.title-4 {
  font-size: 1.2rem;
}
.text-1 {
  font-size: 1.2rem;
}
.text-2 {
  font-size: 0.8rem;
}
.text-space {
  letter-spacing: 0.2rem;
}
.typo-bold {
  font-weight: 800;
}
.typo-midBold {
  font-weight: 400;
}

/* GENERAL */
#main-container {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: var(--textColor);
  background-color: var(--bgColor);
  overflow-y: hidden;
}

.page-container {
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  height: 100vh;
}

.stop-scrolling {
  overflow: hidden;
}

/* COMPONENTS */
/* Button */
.btn {
  --btnBgColorPrimary: #70b4e0;
  --btnBgColorSecondary: #479ad1;
  --btnBorderColor: #35a0b1;

  display: block;
  color: var(--bgColor);
  background: var(--btnBgColorPrimary);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  color: var(--bgColor);
  background: var(--btnBgColorSecondary);
}

/* Face answer */
.answer-op div:hover {
  background: #c2e7ff;
  cursor: pointer;
}

/* HEADER SECTION */
.header-content {
  display: block;
}

/* MIDDLE CONTENT */
.mid-content {
  display: grid;
  grid-auto-rows: auto;
  text-align: center;
}

.mid-container-dropdown {
  display: grid;
  justify-self: center;
  align-self: center;
}

.mid-content div .answer-op {
  display: flex;
  margin: 1.2rem;
}

.mid-content div .answer-op div {
  width: 96px;
  height: 96px;
  margin: 1rem;
}

.mid-content div > i {
  padding: 0.5rem 0;
  /* color: green; */
}

/* Comentarios página 7 */
.mid-content div .coment-text {
  display: flex;
  width: 450px;
  justify-content: center;
}

.mid-content div .coment-text textarea {
  display: block;
  width: 150%;
  height: 100px;
  margin: 2rem 0 0 0;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

/* FOOTER */
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  overflow: hidden;
}

.footer-content div {
  display: flex;
  flex-direction: row;
}
.footer-content div ul {
  display: flex;
  padding: 0 1rem;
}
.footer-content div ul li {
  padding: 0 0.5rem;
}

footer p {
  font-size: 0.8rem;
}

/* Media for tablet 1920x1200 */
